.card-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 5%;
  margin-top: 40px;
  padding-bottom: 45px;
  width: 100vw;
}

.card-container button {
  background-color: transparent;
  border: 0;
}

.card-style {
  align-items: center;
  border: 0.5px solid rgb(231, 231, 231);
  border-radius: 25px;
  box-shadow: 0.1px 4px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: center;
  margin-bottom: 10%;
  overflow: hidden;
  width: 45vw;
}

.card-img {
  margin: auto;
  margin-top: 10px;
  width: 85%;
}

.card-img img {
  border-radius: 15px;
  width: 100%;
}

.card-title {
  align-items: center;
  display: flex;
  height: 80%;
  justify-content: flex-start;
  width: 80%;
}

.card-title span {
  color: black;
  font-size: 0.8em;
  font-weight: 500;
  text-decoration: none;
}
