.details-container {
  display: flex;
  flex-direction: column;
}

.details-header {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;
}

.details-header img {
  width: 100%;
}

.details-header-btn {
  align-items: center;
  display: flex;
  height: 90px;
  justify-content: space-between;
  margin: auto;
  margin-bottom: -100px;
  width: 90%;
  z-index: 1;
}

.details-title {
  align-items: center;
  background-color: white;
  border-radius: 20px;
  display: flex;
  height: 100px;
  justify-content: center;
  margin-top: -25px;
  position: relative;
  z-index: 1;
}

.details-title-info {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.details-title-info p {
  font-size: 12px;
  font-weight: 200;
  margin-top: -10px;
}

.details-title h3 {
  font-size: 20px;
  font-weight: 500;
}

.details-title button {
  background-color: transparent;
  border: none;
}

.back-style {
  color: white;
  height: 30px;
}

.details-info {
  align-items: flex-start;
  background-color: rgb(236, 236, 236);
  border-radius: 20px;
  color: rgb(82, 82, 82);
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 300;
  margin: auto;
  padding: 10px;
  justify-content: flex-start;
  width: 90%;
}

.details-info h4 {
  font-size: 16px;
}