footer {
  background-color: lightgreen;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  padding-bottom: 5px;
  padding-top: 5px;
  position: fixed;
  width: 100%;
}

.image-icon {
  background-color: transparent;
  border: none;
}

.image-icon:hover {
  background-color: white;
  border: black;
}
