.footer-menu {
  align-items: center;
  backdrop-filter: blur( 50px );
  background: rgba( 255, 255, 255, 0.80 );
  background-color: rgba(182, 182, 182, 0.5);
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  bottom: 0;
  display: flex;
  height: 60px;
  justify-content: space-around;
  position: fixed;
  width: 100vw;
}

.button-footer {
  background-color: transparent;
  border: 0;
  border-radius: 10px;
  height: 40px;
}

.button-start {
  align-items: center;
  background-color: rgb(182, 182, 182);
  bottom: 0;
  height: 40px;
  position: fixed;
  text-decoration: none;
  width: 100%;
}
