.card-menu {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 10%;
}

.card-menu img {
  height: 100%;
  margin: 0;
  width: 100%;
}

.card-menu h3 {
  align-items: flex-end;
  color: black;
  display: flex;
  flex-grow: 1;
}
