.title {
  color: rgb(55, 6, 23);
  font-size: 28px;
  letter-spacing: 3px;
  text-align: center;
}

.img-card {
  border: solid 1px rgb(55, 6, 23);
  border-radius: 5px;
  box-shadow: 4px 4px 4px 3px rgba(55, 6, 23, 0.2);
}
