.search-bar {
  border: 1px solid #ccc;
  border-radius: 5px;
  color: black;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  padding: 8px;
  text-align: center;
}

.search-bar .input-search {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  display: inline-block;
  margin: 8px 0;
  padding: 12px 20px;
  width: 100%;
}

.search-bar .search-prop {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.search-bar button {
  background-color: rgb(100, 198, 255);
  border: none;
  border-radius: 5px;
  color: black;
  display: inline-block;
  margin: 4px 2px;
  padding: 5px;
  text-align: center;
}
