.recomendations {
  display: flex;
  flex-direction: row;
  gap: 35px;
  height: 200px;
  margin: 60px auto;
  overflow-y: auto;
  width: 350px;
}

.card {
  display: flex;
  flex: none;
  height: 150px;
  width: 150px;
}

.card img {
  height: 150px;
  width: 100%;
}
