.recomendations {
  display: flex;
  flex-direction: row;
  margin: 60px auto;
  overflow-y: auto;
  width: 350px;
}

.card {
  display: flex;
  flex: none;
}

.card img {
  height: 150px;
  width: 175px;
}
