.food-page {
  display: flex;
  flex-flow: column nowrap;
}

.food-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.food-cards a {
  color: black;
  margin: 2em 0.5em;
  text-decoration: none;
  width: 40%;
}

.food-cards .card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

.food-cards img {
  align-self: center;
  border: 5px solid #1cc7d0;
  border-radius: 50%;
  margin-top: 10px;
  width: 80%;
}

.food-cards .card:hover {
  box-shadow: 0 30px 70px rgba(0, 0, 0, 0.2);
}

.food-cards .card-body {
  left: 0;
  text-align: center;
  width: 100%;
}

.food-cards .card-button {
  width: 100%;
}

.food-cards .card-header {
  text-align: center;
}

.food-cards .card-footer {
  padding: 0.2rem;
}

.filter-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 0.5em;
}

.filter-buttons .filter-button {
  margin: 0.5em;
  width: 6em;
}
