.categories-section {
  display: flex;
  flex-flow: row wrap;
  margin: 5px auto;
  width: 95%;
}

.categories-section button {
  background-color: #fae8e0;
  font-size: 0.62em;
  margin: 5px 3px;
  padding: 3px 0;
  width: 31%;
}
