.foods-cards {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  margin-top: 25px;
  width: 40%;
}

.card h4 {
  text-align: center;
}

.card img {
  width: 100%;
}
