.top-img {
  width: 100%;
}

.div-scroll {
  display: flex;
  overflow-x: scroll;
}


.recomendation-card {
  border: 1px solid #e5e5e5;
  min-width: 45%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  text-align: center;
}

.recomendation-card p {
  color: #808080
}

.recomendation-card img {
  max-width: 100%;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.start-btn {
  bottom: 0;
  position: fixed;
}
