.details-btn {
  bottom: 0;
  position: fixed;
}

.recipe-img {
  /* width: 290px; */
  border-radius: 30px;
}

.details-loading {
  /* background-color: tomato; */
  /* margin: 0 calc(360/4); */
  width: 220px;
  position: relative;
  top: 30%;
  margin: 0 20%;
  animation: infinite load 1s;
}

.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details-content {
  margin-top: 58px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 0 30px 0 30px;
  width: 360px;
  overflow: auto;
  height: calc(640px - 58px);
  overflow-x: hidden;
}

.share-btn {
  background-color: #0fa36b;
  
  border: none;
  width:30%;
  border-radius: 10px;
  padding: 10px;
  outline: none !important;
  /* height: 200px; */
  /* margin-bottom: 400px; */
}

.video {
  margin-top: 16px;
  border-radius: 10px;
}

.startRecipe-btn, .continueRecipe-btn {
  height: 55px;
  width: 295px;
  border-radius: 50px;
  border: none;
  background-image: linear-gradient(180deg, #0fa36b, rgb(0, 109, 0));
  margin-bottom: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.288);
  transition: ease 0.8s;
  font-size: 16px;
  font-weight: 700;
  color: white;
  opacity: 1;
}

.continueRecipe-btn {
  position: absolute;
  /* top: -100px; */
  margin-top: -1116px;
}

.share-btn img {
  height: 25px;
}

.instructions {
  font-size: 14px;
}

.ingredient-title, .instructions-title {
  font-weight: 700;
  font-size: 22px;
  margin-top: 5px;
}

.ingredient {
  font-size: 14px;
  list-style: none;
  margin-left: -40px;
}

.recipe-title {
  color: black;
  font-weight: 700;
  font-size: 30px;
  margin-top: 20px;
}

.arrow {
  width: 18px;
  height: 18px;
  margin-left: -4px;
}

.details-header {
  display: flex;
  height: 58px;
  width: 360px;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  /* background-color: navy; */
  background-color: #f6f6f6;
}

.details-header h1 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 9px;
  color: black;
  /* background-color: blueviolet; */
}

.arrow-bg {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.199) 0 5px 20px;
}

.Favorite-Page-Button-Styles {
  background-color: #0fa36b;
  box-shadow: #0fa36a62 0 0 10px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin-right: -5px;
  transition: ease 0.2s;
  outline: none;
}

.Favorite-Page-Button-Styles:active {
  background-color: #0c7e52;
  transition: ease 0.2s;
}

.Favorite-Page-Button-Styles img {
  /* background-color: violet; */
  width: 20px;
  height: 20px;
}