/* .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: green solid;
  width: 550px;
  height: 550vh;
} */

.containerDetailsFood {
  background-color: #e3caab;
  /* color: #704c13; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.recipes-img {
  border-radius: 35px;
  border: #704c13 solid;
  margin: 3px;
  padding: 5px;
}

.recomend-container {
  display: flex;
  overflow-x: scroll;
}

.video {
  align-items: center;
  height: 250px;
  margin-bottom: 20px;
  width: 327px;
}

.recomend-img {
  padding: 5px;
  width: 180px;
  border-radius: 35px;
  border: #704c13 solid;
  margin: 3px;
}

.hiddenButton {
  bottom: 0;
  margin-top: 30px;
  position: fixed;
  right: 10px;
}

.hiddenButton-hidden {
  visibility: hidden;
}

.h2teste {
  display: flex;
}

.buttons-share-favorite {
  display: flex;
  justify-content: flex-end;
  margin-left: 150px;
}

.buttons-heart-favorite {
  margin-left: 5px;
}
