/* .carousel {
  display: flex;
  min-width: 95vw;
  overflow-x: auto;
  padding: 10px;
  scroll-snap-type: x mandatory;
}

.carousel-item {
  flex: none;
  -webkit-overflow-scrolling: touch;
  scroll-snap-align: start;
  width: 55vw;
}

.carousel-item img {
  width: 45vw;
} */

.startButton {
  background-color:#F8F9FA;
  border: none;
  border: 1px solid gray;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.details-img {
  height: 25vh;
  object-fit: cover;
  width: 100%;
}

.neutral-button {
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  height: 55px;
  transition: 0.2s ease-in-out;
  width: 45px;
}