/* .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: green solid;
  width: 550px;
  height: 550vh;
} */

.containerDetailsFood {
  display: flex;
  flex-direction: column;
  justify-content: center;
 
  
}

.recomend-container {
  display: flex;
  overflow-x: scroll;
}

.video {
  height: 250px;
  width: 327px;
  align-items: center;
  margin-bottom: 20px;
}

.recomend-img {
  width: 180px;
  padding: 10px;
}

.hiddenButton {
  bottom: 0;
  position: fixed;
  right: 10px;
  margin-top: 30px;
}

.hiddenButton-hidden {
  visibility: hidden;
}

.h2teste {
  display: flex;
  
  
}

.buttons-share-favorite {
  display: flex;
  justify-content: end;
  margin-left: 180px;
}

.buttons-heart-favorite {
  margin-left: 5px;
}
  


/* .recipes-img {
  display: flex;
  justify-content: center;
  border-radius: 30px;
  width: 350px;
} */