.DoneRecipesContainer {
  align-items: center;
  background: white;
  border: 1px solid black;
  border-top: none;
  display: flex;
  flex-direction: column;
  height: calc(100% - 108px);
  justify-content: center;
  width: 100%;
}
