.recipe-card {
  border: 1px solid #e0e0e0;
  border-radius: 1rem;
  min-height: 155px;
}

.recipe-card a {
  width: 40%;
}

.recipe-card a img {
  border: 1px solid #e0e0e0;
  border-radius: 1rem;
  width: 100%;
}

.tag {
  background-color: #ccc;
  border-radius: 0.8rem;
  font-size: 0.8rem;
  margin: 0.5rem;
  padding: 0.5rem;
}
