.details-container > img {
  width: 100vw;
}

.start-recipe-btn > button {
  background-color: black;
  display: inline-block;
  margin: 0 auto;
  position: fixed;
  width: 80%;
}

.details-container span {
  width: 40%;
}

.details-container > div:nth-child( 1 ) {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
}

.details-container > div:nth-child( 1 ) div {
  display: inline-block;
}

.details-container > div:nth-child( 1 ) div button {
  width: 10%;
}
