.explorer-buttons-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.food-button {
  border-radius: 6px;
  height: 82px;
  position: absolute;
  top: 80px;
}

.drink-button {
  border-radius: 6px;
  height: 82px;
  position: absolute;
  top: 140px;
}

.explorar-container {
  height: 640px;
  width: 360px;
}
