<<<<<<< HEAD
.explorarContainer {
  background-color: tomato;
  width: 100%;
  height: 100%;
=======
.explorar-container {
  width: 360px;
  height: 640px;
>>>>>>> ce82f5493a5f637d14f3005bccc859028de75316
}