.explore-buttons {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 200px auto;
  text-align: center;
}


.explore-button {
  background-color: #c4c4c4;
  border: 1px solid gray;
  margin: 10px;
}
