.container-ingredient-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.ingredient-cards {
  border: 1px solid #bababa;
  border-radius: 10px;
  box-shadow: 9px 7px 5px rgba(124, 124, 124, 0.77);
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 5px;
  width: 40%;
}

.ingredient-cards h5 {
  color: silver;
  font-size: 1em;
}

header div h2 {
  font-size: 2em;
  margin-right: 35px;
  text-align: center;
}

header div button {
  margin-left: 20px;
}

.ingredient-cards img {
  align-self: center;
}
