.explore-buttons {
  display: block;
  position: absolute;
  text-align: center;
  margin: 200px auto;
  margin-left: 515px;
}


.explore-button {
  background-color: #c4c4c4;
  border: 1px solid gray;
  margin: 10px;
}