.explore-section {
  margin-top: 100px;
}

.explore-section h2 {
  background-color: #704c13;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  margin: 15px auto;
  padding: 10px;
  text-align: center;
  width: 90%;
}
