.button-ingredients {
  border-radius: 6px;
  height: 82px;
  left: 20px;
  position: absolute;
  top: 80px;
}

.button-place-origin {
  border-radius: 6px;
  height: 82px;
  left: 174px;
  position: absolute;
  top: 80px;
}

.button-surprise-me {
  border-radius: 6px;
  height: 82px;
  left: 20px;
  position: absolute;
  top: 150px;
}
