.FavoriteRecipesContainer {
  align-items: center;
  background: white;
  border: 1px solid black;
  border-top: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  overflow-y: auto;
  width: 360px;
}
