.favorite-recipes-btns-container {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 10px auto 20px;
  width: 98%;
}

.favorite-recipes-filter-btn {
  background-color: #e2e2e2;
  border: 1px solid #333;
  border-radius: 6px;
  padding: 5px 0;
  width: 30%;
}

.favorite-recipes-container {
  margin: 10px auto;
  width: 95%
}

.favorite-recipe-card {
  align-items: flex-start;
  background-color: #eee;
  border: 1px solid #777;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px auto;
  padding: 5px;
  width: 100%;
}

.favorite-recipe-img-container {
  width: 39%;
}

.favorite-recipe-card-img {
  border: none;
  border-radius: 10px;
  width: 100%;
}

.favorite-recipe-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 120px;
  width: 59%;
}

.favorite-recipe-name {
  color: #333;
  font-size: 20px;
  margin: 2px 2px 5px;
}

.favorite-recipe-category {
  color: #777;
}

.favorite-recipes-interaction-btns {
  margin: 5px 10px 0;
  width: 28px;
}
