.container-favorite-recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.favorite-recipe-card {
  margin-top: 20px;
  border: 1px solid rgb(201, 201, 201);
  width: 90%;
  border-radius: 10px;
  box-shadow: 9px 7px 5px rgba(124, 124, 124, 0.77);
  display: flex;
}

.favorite-recipe-card img {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  width: 50%;
  margin-right: 8px;
}

.recipe-text {
  color: rgb(136, 136, 136);
}

.remove-favorite-btn {
  background-color: rgba(136, 136, 136, 0);
  border: none;
  height: 50px;
  width: 70px;
}

.container-btns {
  align-items: center;
  display: flex;
  margin-top: 20px;
  width: 140px;
}

.filter-buttons {
  display: flex;
  margin-top: 20px;
  justify-content: space-evenly;
}

.filter-buttons button {
  background-color: lightgreen;
  border-radius: 10px;
  height: 40px;
  width: 100px;
  font-size: 20px;
  border: none;
  font-weight: 700;
  box-shadow: 7px 5px 3px rgba(124, 124, 124, 0.57);
}

.filter-buttons button:active {
  box-shadow: 3px 2px 1px rgba(124, 124, 124, 0.57);
  transform: translateY(4px);
}
