.favorite-recipes-section {
  margin-top: 60px;
  text-align: center;
}

.favorite-recipes-section button {
  background-color: rgba(63, 60, 60, 0.2);
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  width: 100px;
}
