.container-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.button-categories {
  background-color: salmon;
  border-radius: 6px;
  color: black;
  height: 50px;
  margin-top: 1px;
  overflow: hidden;
}

.button-categories:hover {
  background-color: black;
  color: salmon;
}
