.container-categories {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.button-categories {
  margin-top: 1px;
  border-radius: 6px;
  color: black;
  background-color: salmon;
}

.button-categories:hover {
  color: salmon;
  background-color: black;
}