.details-container > img {
  width: 100vw;
}

.details-container span {
  width: 40%;
}

.details-container > div:nth-child( 1 ) {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
}

.details-container > div:nth-child( 1 ) div {
  display: inline-block;
}

.details-container > div:nth-child( 1 ) div button {
  width: 10%;
}
