.food-details {
  margin: 0;

  .imgreceita {
    display: flex;
    height: 20vh;
    object-fit: cover;
    width: 100%;
  }

  h1 {
    font-size: 5vh;
    margin-top: 1vh;
    text-align: center;
  }

  p {
    font-family: 'Abel', sans-serif;
    font-size: 2.5vh;
    font-weight: 400;
    margin: 2.5vh;
    text-align: justify;
  }

  .btnheader {
    background: transparent;
    margin: 2%;
    width: 25%;
  }

  .imgdrinks {
    width: 100%;
  }

  .cardsdrinks {
    display: flex;
    flex-direction: row;
  }

  .card {
    display: flex;
    width: 80%;
  }

  .btnstart {
    bottom: 0%;
    position: fixed;
    z-index: 9999;
  }
}
