.footer {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 90%;
  height: 49px;
  margin-bottom: 10px;
  border-radius: 25px;
  background-color: white;
}

.footer img {
  width: 30px;
}
