footer {
  align-items: center;
  background: #ffbd0d;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  bottom: 0;
  display: flex;
  height: 48px;   /* Height of the footer */
  justify-content: space-around;
  padding: 3px;
  position: fixed;
  width: 100%;
}
