footer {
  align-items: center;
  bottom: 0;
  display: flex;
  height: 48px;   /* Height of the footer */
  justify-content: space-around;
  position: fixed;
  width: 100%;
  background: #CFD8DC;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
