.footer {
  backdrop-filter: blur(4px);
  background: rgba(51, 51, 51, 0.424);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 1;
}
