footer {
  background-color: #c4c4c4;
  border-top: 1px solid #e7e7e7;
  bottom: 0;
  color: white;
  font-size: 20px;
  height: 60px;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 999;
}

.footer-imgs {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
