.btns {
  justify-content: center; 
  display: flex;
  background-color: rgb(218, 216, 216);
}

.btn-search {
  background-color: transparent;
  /* margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px; */
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
	/* margin-left: auto; */
	/* display: block; */
  display: flex;
  align-items: center;
	width: 45px;
  height: 55px ;
}

.title {
  padding-right: 10px;
  padding-left: 10px;
}

.btn-perfil {
  background-color: transparent;
  /* margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px; */
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
	/* margin-left: auto; */
	/* display: block; */
	width: 45px;
	margin-top: 10px;
}
