header div {
  display: flex;
  margin-top: 5px;
}

header div h2 {
  color: #252525;
  display: inline-block;
  margin: 0 auto;
}

header div button {
  background-color: white;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}
