.header-section-top {
  background-color: #d8c9b8;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 5px 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.header-section {
  display: flex;
  flex-direction: row;
  font-size: 0.5em;
  justify-content: space-around;
  margin: 0 auto;
  width: 100%;
}

.header-section h3 {
  display: inline;
  font-size: 2.3em;
  font-weight: 600;
}

.header-section button {
  width: 30px;
}
