.container-login {
  align-items: center;
  background-color: rgb(229, 226, 226);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  width: 300px;
}

.login-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  width: 100%;
}

.button-login {
  border: 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
  width: 90%;
  height: 40px;
  background-color: rgb(137, 64, 255);
  font-weight: 400;
  margin-top: 20px;
  cursor: pointer;
}

.button-login:disabled {
  cursor: not-allowed;
  background-color: rgba(137, 64, 255, 0.6);
}

.container input {
  width: 90%;
}
