.login-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
}

.login-container input {
  border: 2px solid goldenrod;
  border-radius: 1px;
  margin-bottom: 5px;
  text-align: center;
  font-weight: 900;
  opacity: 0.8;
}

.login-container input:focus {
  border: 3px solid goldenrod;
  border-radius: 1px;
  margin-bottom: 5px;
  text-align: center;
  font-weight: 900;
  opacity: 0.8;
  outline: 0;
}

.login-container button {
  background-color: #9e007c;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 750;
  height: 35px;
  margin-top: 8px;
  text-align: center;
  width: 100px;
}

.login-container button:disabled {
  background-color: #9e007c;
  opacity: 0.2;
  border: none;
}

.login-container button:active {
  box-shadow: 3px 2px 3px rgba(124, 124, 124, 0.57);
  transform: translateY(4px);
}
