section {
  margin-bottom: 70px;
}

.lower-menu {
  background-color: mediumpurple;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  padding: 6px 0;
  position: fixed;
  width: 100%;
}

.lower-menu__img {
  max-width: 50px;
  width: 11vw;
}
