* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

section {
  margin-bottom: 70px;
}

.lower-menu {
  background-color: mediumpurple;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  padding: 6px 0;
  position: fixed;
  width: 100%;
}

.lower-menu__img {
  width: 11vw;
  max-width: 50px;
}
