main {
  margin-top: 60px;
}

.travelButton {
  background-color: transparent;
  border: none;
  font-size: 3rem;
  position: absolute;
}

/* Absolute Center Spinner */
.spinner-border {
  bottom: 0;
  height: 2em;
  left: 0;
  margin: auto;
  overflow: visible;
  position: fixed;
  right: 0;
  top: 0;
  width: 2em;
  z-index: 999;
}
