.menu-bottom {
  
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.menu-bottom-imagens {
  background-color: #e3caab;
  bottom: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 5px 10px;
  position: fixed;
  width: 100%;
}
