.progress-container {
	display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-content {
	margin-top: 58px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 0 30px 0 30px;
  width: 360px;
  overflow: auto;
  height: calc(640px);
  overflow-x: hidden;
}

.progress-header {
	display: flex;
  height: 58px;
  width: 360px;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  /* background-color: navy; */
  background-color: #f6f6f6;
}

.progress-header h1 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 9px;
  color: black;
  /* background-color: blueviolet; */
}

.finish-recipe-btn {
	height: 55px;
  width: 295px;
  border-radius: 50px;
  border: none;
  background-image: linear-gradient(180deg, #0fa36b, rgb(0, 109, 0));
  /* margin-bottom: 16px; */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.288);
  transition: ease 0.8s;
  font-size: 16px;
  font-weight: 700;
  color: white;
  opacity: 1;
}