.s-card {
  border: 1px solid #e5e5e5;
  width: 45%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}

.s-card img {
  max-width: 100%;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}
