.cards-container {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0 auto;
  width: 95%;
}

.recipe-container {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 200px;
  overflow-y: hidden;
  margin: 0 5px 15px;
  width: 150px;
}

.recipe-card {
  align-items: center;
  display: flex;
  flex-flow: column;
}

.recipe-title {
  color: black;
  padding: 2px;
  text-align: center;
  text-decoration: none;
}

.recipe-img {
  border-radius: 10px;
  padding: 5px;
  width: 100%;
}
