h1 {
  text-align: center;
}

.buttons {
  background-color: rgba(63, 60, 60, 0.2);
  margin: 0 5px 0 5px;
  text-align: center;
  width: 100px;
}

.recipes-done {
  background-color: rgba(63, 60, 60, 0.2);
  display: flex;
  margin: 5px;
}
