.RecipeConcludedContainer {
  background-color: pink;
  border-radius: 0 30px  30px 0;
  box-shadow: 1px 2px 5px 1px black;
  display: flex;
  height: 170px;
  margin-top: 10px;
  width: 330px;
}

.RecipeConcludedContainer img {
  background-color: wheat;
  height: 170px;
  width: 160px;
}

.RecipeInfoConcluded {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.RecipesFoodName {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: -6px;
}

.doneDate {
  margin-bottom: -6px;
}

.tagContainer {
  align-items: center;
  background-color: slateblue;
  display: flex;
  height: 200px;
  width: 100%;
}

.tagName {
  color: red;
  font-size: 16px;
  margin-left: 15px;
}

.shareBTN {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  border-radius: 0 18px 0 0;
  height: 35px;
  position: absolute;
  right: 5px;
  top: 2px;
  width: 40px;
}

.shareBTN img {
  height: 20px;
  width: 20px;
}
