.userButtons {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-top: 100px;
}

.user-btn {
  width: 25vh;
}

.userButtons p {
  font-family: Franklin Gothic Medium , Arial Narrow , Arial , sans-serif;
  font-size: 1.5em;
}

.exit-btn {
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: 900;
  padding: 10px;
}
