.video-responsive {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

.video-responsive iframe {
  height: 80%;
  left: 0;
  position: absolute;
  top: 0;
  width: 80%;
}
