* {
  margin: 0;
}

.img-recipe {
  border: 2px solid black;
  width: 100%;
}

.recommended {
  border: 2px solid black;
  width: 100%;
}

.start-recipe-btn {
  background-color: #f4511e;
  border: none;
  border-radius: 5px;
  bottom: 0;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  opacity: 0.6;
  position: fixed;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
}

.start-recipe-btn:hover {
  opacity: 1;
}
