.detail-title {
  box-sizing: border-box;
  color: black;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0;
}

.detail-video {
  background-color: transparent;
}

.detail-video-title {
  font-size: 2rem;
  font-weight: 600;
  padding: 10px;
}

.detail-video-box {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100vw;
}

.iframe {
  border-radius: 10px;
  height: 35vh;
  width: 90%;
}

