.header {
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 10px;
  position: absolute;
  top: 0;
  width: 100%;
}

.header-btn {
  background-color: none;
}
