.header {
  align-items: center;
  background-color: salmon;
  display: flex;
  justify-content: space-around;
  margin: 0;
  position: fixed;
  width: 100%;
}

.headerbox {
  align-items: center;
  display: flex-box;
  height: 60px;
  justify-content: space-between;
  width: 360px;
}

.intheader {
  align-items: center;
  display: flex;
}

.inputsearch {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 61px;
}
