@media screen and ( max-width : 640px ) {

  .card-drinks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px;
  }

  .drink-page {
    height: 80%;
    overflow: auto;
  }
}
