.header-container {
  align-items: center;
  align-self: flex-start;
  background-color: rgb(75, 66, 66);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  width: 100%;
}

.search-container {
  background-color: rgb(75, 66, 66);
  color: white;
}

.header-buttons-container {
  display: flex;
}

