.header-container {
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-start;
  top: 0;
  width: 100%;
}

.search-container {
  background-color: aquamarine;
}
