.meals {
  display: flex;
  flex-flow: row wrap;
  padding: 15px;
  justify-content: space-around;
}

/* .meals button {
  background-color: hotpink;
} */

.meal {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 3px;
  margin: 5px;
}

.meal img {
  width: 140px;
}

.drinks {
  display: flex;
  flex-flow: row wrap;
  padding: 15px;
  justify-content: space-around;
}

.drink {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 3px;
  margin: 5px;
}

.drink img {
  width: 150px;
}

.btn-categories {
  margin: 10px 10px 0;
}

.btn-categories button {
  width: 100px;
  margin: 5px;
}