.card-container {
  align-content: center;
  background-color: seagreen;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100px;
  justify-content: center;
  width: 100px;
}

.p-text {
  height: 20px;
  margin: 0;
}

.library-card-container {
  align-content: space-around;
  background-color: salmon;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 500px;
  justify-content: space-evenly;
}
