/* .footer {
  background-color: #fafafaee;
  display: flex;
  flex: none;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}

.footer-link {
  display: flex;
  justify-content: space-between;
} */
