.scrollmenu {
  display: grid;
  grid-template-columns: 50% 50% 50% 50% 50% 50%;
  border: 2px solid var(--gs0);
  overflow: scroll;
  border-radius: 8px;
  height: 10vh;
  white-space: nowrap;
}


.scrollmenu li {
  display: flex;
  height: 10vh;
  scroll-snap-align: start;
  align-items: center;
  justify-content: center;
  background: rgb(143, 204, 145);
  font-size: rem;
}

.scrollmenu li:nth-child( 2 ) {
  background: rgb(227, 243, 243);
}

.scrollmenu li:nth-child( 4 ) {
  background: rgb(227, 243, 243);
}

.scrollmenu li:nth-child( 6 ) {
  background: rgb(227, 243, 243);
}

.fixed-btn {
  bottom: 0;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}
