.footer {
  bottom: 0;
  position: fixed;
  width: 100%;
}

.cardImage {
  max-width: 150px;
}

.selectedCat {
  background-color: grey;
}

.do-row {
  text-decoration: line-through;
}

.details-body {
  align-content: center;
  justify-content: center;
  text-align: center;
}

.details-btn-container {
  display: flex;
  justify-content: center;
}

.img-div {
  width: 100px;
}

.container-carrossel {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  background-color: black;
  width: 315px;
}

.carrossel-item-container {
  display: flex;
  flex-direction: column;
}
