.card-meals {
  height: 200px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  width: 200px;
}

.card-img-meals {
  border-radius: 15px;
  box-shadow: 3px 4px 4px rgb(99, 98, 98);
  width: 100%;
}

.card-title-meals {
  font-size: 100%;
}

.card-drinks {
  border: 1px black;
  height: 200px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  width: 200px;
}

.card-img-drinks {
  box-shadow: 3px 4px 4px rgb(99, 98, 98);
  width: 100%;
}

.card-title-drinks {
  font-size: 100%;
}
