@font-face {
  font-family: 'Futura';
  src: url('/fonts/Futura Bold font.ttf');
  font-weight: 600;
  font-size: 50;
}

body {
  font-family: 'Futura';
}

.btn-default {
  background-color: #ffff;
  color: #f07167;
  border-color: #f07167;
  margin-top: 4px;
}

.btn-default:hover {
  background-color: #f7968f;
  color: #ffff;
}

button img {
  filter: invert(58%) sepia(95%) saturate(1879%) hue-rotate(320deg)
    brightness(100%) contrast(88%);
}

button.icon:hover {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(276deg)
    brightness(101%) contrast(102%);
}

.meal {
  margin-left: 1px;
  margin-right: 1px;
}

.recipe-card {
  margin-top: 10px;
  text-decoration: none !important ;
  text-align: center;
}

.recipe-card img {
  margin-top: 10px;
  border-radius: 90% 10% 56% 44% / 62% 73% 27% 38%;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.recipe-card img:hover {
  transition: 0.3s;
  transform: scale(1.09);
  box-shadow: rgba(247, 246, 246, 0.4) 5px 5px,
    rgba(228, 135, 145, 0.3) 10px 10px, rgba(228, 135, 145, 0.2) 15px 15px,
    rgba(228, 135, 145, 0.1) 20px 20px, rgba(228, 135, 145, 0.5) 25px 25px;
}

.recipe-name {
  margin-top: 40px;
  color: #f07167;
}

.recipe-photo {
  border-radius: 48% 52% 34% 66% / 39% 33% 67% 61%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
