/* .meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 10vh;
}

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 1em;
  font-weight: 100;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

.recommendedFoodContainer {
  align-items: space-between;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: stretch;
  margin: auto 50px;
  width: 300px;
}

.RecommendedContainer {
  align-items: space-between;
  display: flex;
  flex-flow: row wrap;
  height: 200px;
  justify-content: space-between;
  text-align: center;
  width: fit-content;
}

.recommendedImage {
  background-size: cover;
  height: 400px;
  width: 400px;
}

.card-img {
  max-height: 25px;
  max-width: 25px;
}

.cards {
  display: inline-block;
  font-size: 2px;
} */

[ data-testid = 'start-recipe-btn' ] {
  bottom: 0;
  position: fixed;
}

[ data-testid = 'footer' ] {
  background-color: grey;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  width: 50%;
}
