@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap') ;

* {
  font-family: Poppins , sans-serif;
}

.container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.container-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-around;
  width: 100%;
}

.container-header h3 {
  align-self: flex-start;
  font-weight: 500;
  margin-left: 25px;
}

.header-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.hidden-container {
  height: 40px;
  width: 40px;
}

.button-header {
  background-color: transparent;
  border: 0;
  border-radius: 10px;
  height: 40px;
}

.button-header img {
  height: 25px;
}

.section-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 800px;
  justify-content: center;
  width: 100%;
}

.search-recipe {
  margin-bottom: 2.5%;
  margin-top: 2.5%;
  width: 95%;
}

.search-recipe input {
  width: 100%;
}

.search-recipe button {
  background-color: rgb(182, 182, 182);
  border: 0;
  border-radius: 5px;
  width: 30%;
}

.search-radio {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 80%;
}

.search-radio label {
  display: flex;
  font-size: 12px;
  overflow: hidden;
}

.input-btn input {
  background-color: rgb(131, 251, 255);
  border: 0;
  border-radius: 20px;
  height: 40px;
  padding-left: 25px;
}

.search-radio label input {
  margin-right: 5px;
}

.search-radio label:nth-last-child( [ type = 'radio' ] ) {
  flex-grow: 3;
}

.input-btn {
  display: flex;
  margin: auto;
  margin-bottom: 2px;
  width: 95%;
}

.input-btn button {
  background-color: white;
  border-radius: 80px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1) , 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 30px;
  margin: auto;
  margin-left: -70px;
  width: 60px;
}

.label-style {
  display: flex;
  flex-wrap: nowrap;
}
