.inputForm {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.loginContainer {
  align-items: center;
  background-color: whitesmoke;
  border: 2px solid rgba(0, 0, 0, 0.125);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 250px;
}
