::-webkit-scrollbar {
  /* background: #0fa36b; */
  border-radius: 20px;
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 1px 0 3px white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0fa36b;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0a6945;
  border-radius: 10px;
}

.meals {
  align-items: center;
  /* background: #0fa36b; */
  color: #464646;
  font-family: sans-serif;
  height: 640px;
  position: relative;
  width: 360px;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}
