@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap') ;

body {
  background-color: rgb(248, 249, 250);
}

.recipes-cards {
  background-color: transparent;
  border: none;
  height: 14rem;
  margin-bottom: 79px;
  margin-left: 40px;
}

.title {
  color: rgb(55, 6, 23);
  font-family: Pacifico , cursive;
  font-size: 28px;
  letter-spacing: 3px;
  text-align: center;
}

.img-card {
  border: solid 1px rgb(55, 6, 23);
  border-radius: 5px;
  box-shadow: 4px 4px 4px 3px rgba(55, 6, 23, 0.2);
}

@import url('https://fonts.googleapis.com/css2?family=Lemonada&display=swap') ;

.category-buttons {
  align-items: center;
  background-color: rgb(92, 10, 39);
  border: solid rgb(92, 10, 39);
  border-radius: 5px;
  color: antiquewhite;
  display: flex;
  flex-grow: 1;
  font-family: Lemonada , cursive;
  font-weight: 500;
  height: 30px;
  justify-content: center;
  margin-bottom: 10px;
  margin-right: 6px;
  width: 27%;
}

.category-drink-buttons {
  align-items: center;
  background-color: rgb(92, 10, 39);
  border: solid rgb(92, 10, 39);
  border-radius: 5px;
  color: antiquewhite;
  display: flex;
  flex-grow: 1;
  font-family: Lemonada , cursive;
  font-weight: 500;
  height: 50px;
  justify-content: center;
  margin-bottom: 10px;
  margin-right: 6px;
  width: 40%;
}

.category-div {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 10px;
}
