.div-details {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap') ;

.food-details-card, .drink-details-card {
  border: solid 1px rgb(55, 6, 23);
  border-radius: 5px;
  box-shadow: 4px 4px 4px 3px rgba(55, 6, 23, 0.2);
  color: rgb(55, 6, 23);
  font-family: Montserrat , sans-serif;
}

li {
  list-style: none;
  padding-left: 0;
}

ul {
  padding-left: 0;
}

.recipe-title {
  font-size: 30pt;
  font-weight: 580;
}

.instructions {
  text-align: justify;
}

iframe {
  margin-bottom: 10px;
  margin-left: 9px;
}

.button {
  background-color: transparent;
  border: none;
  margin-bottom: 10px;
  margin-right: 20px;
}

.carousel {
  color: rgb(92, 10, 39);
  font-family: Montserrat , sans-serif;
  margin-bottom: 50px;
  text-align: center;
}

.img-carousel {
  margin-left: 43px;
}

.title-recomendation {
  padding-bottom: 30px;
  padding-top: 10px;
}
