.footer {
  background-color: rgb(131, 131, 131);
  display: flex;
  justify-content: center;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
}

.img {
  margin-left: 60px;
  margin-right: 60px;
  padding: 5px;
}
