@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap') ;

.header {
  align-items: center;
  background-color: rgb(255, 197, 51);
  color: rgb(55, 6, 23);
  display: flex;
  flex-wrap: wrap;
  font-family: Pacifico , cursive;
  justify-content: space-evenly;
}

.button {
  background-color: transparent;
  border: none;
}

.title-header {
  font-size: 24pt;
  font-weight: 500;
  letter-spacing: 3px;
  padding-top: 10px;
}
