* {
  margin: 0;
  padding: 0;
}

body {
  /* height: 640px;
  margin: auto;
  background: url("./images/loginBackground.jpg") ;
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: wheat;
  /* width: 100%; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
