* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
    align-items: center;
  background-color: rgb(34, 80, 25);
  color: azure;
}

 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: coral;
 }

 .slideshow-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 390px;
  height: 300px;
  background-color: brown;
}

.displayNone {
  display: none;
}


@media screen and (max-width: 360px) and (max-height: 640px) {

  body {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
      align-items: center;
    background-color: rgb(34, 80, 25);
    color: azure;
    margin: auto;
  }
*/

  .container {
    max-width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: coral;
     }
  

   .slideshow-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 360px;
    height: 300px;
    background-color: brown;
  }
}
