.start-recipe {
  align-items: center;
  bottom: 0;
  color: rgb(55, 6, 23);
  display: flex;
  font-family: Montserrat , sans-serif;
  font-weight: 600;
  height: 35px;
  justify-content: center;
  position: fixed;
  width: 100%;
}
