.details {
  /* width: 100hv; */
  padding: 5px;
}

.details-picture {
  width: 330px;
  display: flex;
  margin: auto;
  /* margin: 10px; */
  /* padding: 20px; */
}

.details-btn {
  display: flex;
  justify-content: center;
  /* margin: auto; */
}

.details-recomendation {
  /* margin-bottom: 150px; */
}

.start-btn {
  position: fixed;
  bottom: 0;
  margin-bottom: 5px;
  left: 120px;
}