.details {
  padding: 5px;
}

.details-picture {
  width: 330px;
  display: flex;
  margin: auto;
}

.details-btn {
  display: flex;
  justify-content: center;
}

.details-recomendation {
}

.start-btn {
  position: fixed;
  bottom: 0;
  margin-bottom: 5px;
  left: 120px;
}
