.details {
  padding: 5px;
}

.recomendation-picture {
  width: 200px;
  display: flex;
  margin: auto;
}

.details-picture {
  display: flex;
  margin: auto;
  padding: 10px;
  width: 250px;
}

/* .details-btn {
  display: flex;
  justify-content: center;
} */

.start-btn {
  bottom: 0;
  left: 120px;
  margin-bottom: 5px;
  position: fixed;
}
